<header class="header">
      <nav class="header__nav">
            <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Planos</a></li>
                  <li><a href="#">Sobre</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">FAQ</a></li>
            </ul>
           
      </nav>
      <div class="text_container">
            <h1>Assine o melhor da internet por Fibra Óptica</h1>
            <p>Planos residenciais e empresariais com alta velocidade e estabilidade.</p>
      </div>
     
</header>

